.avatar {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.carrinho {
    width: 20px;
    height: 20px;
    margin: 20px;
}
.cart {
    width: 300px;
    height: 200px;
    background-color: #fdfdfd;
    box-shadow: 0px 10px 15px 0px rgba(169, 175, 160, 0.8);
    position: absolute;
    top: 80px;
    right: 8%;
}
.inativo {
    display: none;
}
.cart-titulo{
    border-bottom: 1px solid hsl(220, 14%, 75%);
    box-sizing: border-box;
    color: black;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    padding: 15px 10px;
    width: 100%;
}
.cart-situacao {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: hsl(219, 9%, 45%);
    font-size: 1rem;
    font-weight: bold;
}
.cart-produtos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.carrinho-imagem {
    width: 70px;
    border-radius: 5px;
}
.carrinho-descricao {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: hsl(219, 9%, 45%);
    width: 40%;
    height: 20%;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 10px;
    padding: 5px;
    height: 15px;
}
.checkout {
    width: 100px;
    height: 40px;
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 6px;
    font-size: 20px;
}
.box-imagem{
    width: 70px;
}
.carrinho-descricao1{
    width: 150px;
}